.App {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

label[data-checked] + p {
  text-decoration: line-through;
}

button[aria-label="Close"] {
  color: red;
  cursor: pointer;
}

.App .os-theme-dark >.os-scrollbar-vertical>.os-scrollbar-track>.os-scrollbar-handle {
  max-width: 5px;
  min-width: 5px;
}

.App .os-theme-dark > .os-scrollbar-vertical {
  background: rgb(221, 221, 221);
  max-width: 7px;
  padding: 1px;
  border-radius: 15px;
}